:root{
    background: linear-gradient( black , white) ;
    /* #FF1744 , #A7FFEB   */
}
header{
    color: white;
    background-color: var(--background-color);
    font-size: 1.8rem;
}
h1{
    text-align: center;
}
.btn-box{
    display: flex;
    justify-content: center;
}
#change-pixel-btn {
    background-color: #FF1744 ;    ;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}
#change-pixel-btn:hover{
    box-shadow: 3px 4px 3px #FF1744 ;
}
